---
import { Image } from 'astro:assets'
import chromeWebstore from '../assets/available-on-chrome-webstore.png'
---

<div class="pt-4">
  <a
    class="block"
    href="https://chromewebstore.google.com/detail/hoarders-pipette/ffdgjkkcbhgcfbcneohjbempblmhoadf"
    target="_blank"
    rel="noopener noreferrer"><Image src={chromeWebstore} class="w-80" alt="Available on Chrome Webstore" /></a
  >
</div>
