---
import { Image } from 'astro:assets'
import firefoxWebstore from '../assets/get-the-addon-fx-apr-2020.svg'
---

<div class="pt-4">
  <a
    class="block"
    href="https://addons.mozilla.org/firefox/addon/hoarder-s-pipette/"
    target="_blank"
    rel="noopener noreferrer"><Image src={firefoxWebstore} class="w-80" alt="Get the Firefox Addon" /></a
  >
</div>
