on:
  push:
    branches:
      - main
  pull_request:

name: build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: moonrepo/setup-toolchain@v0
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: "22.18.0"
          cache: "pnpm"
      - run: pnpm install
      - uses: actions/cache@v4
        with:
          path: .moon/cache
          key: ${{ runner.os }}-moon
      - run: pnpm build
